html,body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    height:100%;
}
.container{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    width:100%;
    height:100%;
}
.canvas-size{
    margin-top:1%;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.current-size{
    margin-bottom:0;
}
.slider{
    opacity: 0.7;
}
.slider:hover{
    opacity: 1;
  }

.canvas{
    margin-top:1%;
    display:flex;
    flex-flow:column nowrap;
    width:500px;
    height:500px; 
    border:1px solid black;
}

.canvas-row{
    display:flex;
    flex-flow: row nowrap;
}

/* grid on canvas tiles makes tiles overwrap container. I will fix this eventually */
.grid-border{
    
}

.canvas-options{
    margin-top:1%;
    /* height: 0px; */
}

/* .darken-div:active{
    filter: brightness(0);
} */
